{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}
<p>
{% blocktrans trimmed with username=user.username %}
  Use el siguiente link para cambiar la contraseña de usuario 
  <strong>{{ username }}</strong>:
{% endblocktrans %}
</p>
<p><a href="{{ url_cactus }}">{{ url_cactus }}</a></p>
{% blocktrans trimmed with username=user.username %}
  Este link puede ser compartido con el usuario.
  Sólo puede ser usado una vez y expira en 
  <strong>{{ timeout_days }} días</strong>.
{% endblocktrans %}
{% endblock %}
