{% load cuenta_extras %}
<!DOCTYPE HTML>
<HTML>

<HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <TITLE>estado de cuenta inguz</TITLE>
    <META name="" content="">
    <STYLE type="text/css">
        body{
            font-family: 'proxima-nova';
            font-size: 13.2px;
        }
        p{
            font-size: 13.2px;
        }
        h1{
            font-size: 13.2px;
        }
        h2{
            font-size: 13.2px;
        }
        .comisiones{ width: 100%; }
        .container{ width: 90%; margin: 0 auto;}
        .contrato{ text-align: justify; font-weight: bold;}
        .title{ text-align: center; font-weight: bold;}

        table, th, td{ border: 1px solid black; border-collapse: collapse;}
        th, td{ padding: 15px;}
        th { text-align: center; background: rgb(232, 232, 232); }
        .first_c{ width: 65%; text-align: center; }
        .second_c{ width: 35%; text-align: center; }
    </STYLE>
</HEAD>

<BODY>
    <section class="comisiones">
        <div class="container">
            <h1 class="title">
                NUESTRAS COMISIONES
            </h1>
            <table>
                <tr>
                    <th>
                        Concepto
                    </th>
                    <th>
                        Comisión
                    </th>
                </tr>
                <tr>
                    <td class="first_c">
                        Apertura
                    </td>
                    <td class="second_c">
                        Sin comisión
                    </td>
                </tr>
                <tr>
                    <td class="first_c">
                        Activación
                    </td>
                    <td class="second_c">
                        Sin comisión
                    </td>
                </tr>
                <tr>
                    <td class="first_c">
                        Manejo de cuenta
                    </td>
                    <td class="second_c">
                        Sin comisión
                    </td>
                </tr>
                <tr>
                    <td class="first_c">
                        Anualidad
                    </td>
                    <td class="second_c">
                        Sin comisión
                    </td>
                </tr>
                <tr>
                    <td class="first_c">
                        Cancelación
                    </td>
                    <td class="second_c">
                        Sin comisión
                    </td>
                </tr>
                <tr>
                    <td class="first_c"> 
                        Redención de fondos de pago electrónico (entrega de recursos en efectivo) a través de ventanilla Scotiabank
                    </td>
                    <td class="second_c">
                        $24.00
                    </td>
                </tr>
                <tr>
                    <td class="first_c">
                        Emisión de fondos de pago electrónico (recepción de recursos  en efectivo) a través de ventanilla Scotiabank
                    </td>
                    <td class="second_c">
                        $18.00
                    </td>
                </tr>
                <tr>
                    <td class="first_c">
                        Pago de servicios
                    </td>
                    <td class="second_c">
                        $4.00
                    </td>
                </tr>
                <tr>
                    <td class="first_c">
                        Envío de transferencias a cuentas de otros bancos vía SPEI (A partir de la segunda operación del día)
                    </td>
                    <td class="second_c">
                        $7.52
                    </td>
                </tr>
                <tr>
                    <td class="first_c">
                        Recepción de transferencias de otros bancos vía SPEI
                    </td>
                    <td class="second_c">
                        Sin comisión
                    </td>
                </tr>
                <tr>
                    <td class="first_c">
                        Operaciones con CoDi 
                    </td>
                    <td class="second_c">
                        Sin comisión
                    </td>
                </tr>
                <tr>
                    <td class="first_c">
                        Consulta y descarga de estado de cuenta
                    </td>
                    <td class="second_c">
                        Sin comisión
                    </td>
                </tr>
                <tr>
                    <td class="first_c">
                        Consulta y descarga de movimientos
                    </td>
                    <td class="second_c">
                        Sin comisión
                    </td>
                </tr>
                <tr>
                    <td class="first_c">
                        Consulta de documentación del Kit Legal
                    </td>
                    <td class="second_c">
                        Sin comisión
                    </td>
                </tr>
            </table>
        </div> 
    </section>
</BODY>
</HTML>